/* These styles are regarding basic HTML tags */
html {
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;
}
nav {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2.17em;
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}
main {
    display: grid;
}
footer{
    margin-top: 2em;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1;
    vertical-align: bottom;
}
hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-color: black;
    margin-top: 3em;
}
#logo {
    margin-top: 1em;
    margin-left: auto;
}
/* These styles are related to text items only */
h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 5.8em;
    text-align: center;
    margin: 0;
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 2.25em;
    font-style: italic;
    text-align: center;
}
h2 span {
    background-color: #ffffff;
}
h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 4em;
    text-align: center;
    margin: 0;
}
h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    text-align: right;
    margin-right: 0.2em;
    vertical-align: top;
    margin-top: 0.2em;
}
nav a:hover {
    color: #FAA69B;
}
a {
    text-decoration: none;
    color: black;
}
p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}
#footerText {
    margin-top: auto;
    vertical-align: bottom;
}
/* These styles relate to the index page only */
#indexMain {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
}
#indexText1 {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #ffe0ee;
    width: 100%;
    height: auto;
    margin-left: 1em;
    vertical-align: middle;
}
#indexText2 {
    margin-top: 2em;
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #b3e2dd;
    width: 100%;
    height: auto;
    margin-left: 1em;
}
#indexImage {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    max-width: 100%;
}
/* These styles relate to the work page only */
#workMain {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-left: 0;
}
#work1 {
    background-color: #ffffff;
    display: grid;
    grid-column: 2 / 3;
    text-decoration: none;
    color: black; 
    grid-auto-rows: 2;
    grid-template-columns: 10% 20% 70%;
}
#energyClipart {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-bottom: 0.8em;
    margin-left: 0.3em;
}
#headingWork1 {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin-left: auto;
}
#headingWork1 span {
    background-color: #ddd4e8;
}
#workText1 {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    text-align: right;
    margin-right: 0.6em;
}
#work2 {
    background-color: #ffffff;
    display: grid;
    grid-column: 3 / 4;
    text-decoration: none;
    color: black; 
    grid-auto-rows: 2;
    grid-template-columns: 10% 20% 70%;
}
#headingWork2 {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin-left: auto;
}
#headingWork2 span {
    background-color: #fdfd96;
}
#workText2 {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    text-align: right;
    margin-right: 0.6em;
}
#doggieWalksPaw {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-bottom: 0.8em;
    margin-left: 0.3em;
}
#work3 {
    background-color: #ffffff;
    display: grid;
    grid-column: 2 / 4;
    margin-top: 1em;
    text-align: center;
}
/* These styles relate to the contact page only */
#contactMain {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 5% 45% 45% 5%;
}
#contactHeading {
    display: grid;
    grid-column: 1 / 5;
    text-align: center;
    margin-bottom: 0.5em;
}
#contactText {
    margin-left: 1em;
    display: grid;
    grid-column:1 / 2 ;
}
#contact1 {
    background-color: #bfe4a9;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-bottom: 1em;
    margin-right: 1em;
    grid-template-columns: 40% 60%;
    grid-auto-rows: auto;
}
#drawnTwitterLogo {
    display: grid;
    grid-column: 2 / 3;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
#contact2 {
    background-color: #fdc9a2;
    display: grid;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-bottom: 1em;
    grid-template-columns: 40% 60%;
    grid-auto-rows: auto;
}
#drawnLinkedInLogo {
    display: grid;
    grid-column: 2 / 3;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
#contact3 {
    background-color: #94a8d0;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-right: 1em;
    grid-template-columns: 40% 60%;
    grid-auto-rows: auto;
}
#drawnEmailLogo {
    display: grid;
    grid-column: 2 / 3;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
#contact4 {
    background-color: #f97c7c;
    display: grid;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    grid-template-columns: 40% 60%;
    grid-auto-rows: auto;
}
#drawnFacebookLogo {
    display: grid;
    grid-column: 2 / 3;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
/* These styles relate to the heuristic evaluation page only */
#heuristicMain {
    display: grid;
    grid-template-columns: 19% 50% 30% 1%;
    grid-template-rows: 7;
    margin-top: 2em;
    grid-gap: 10px;
}
#introHeuristic {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#overviewHeuristicHeading {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-right: 0.2em;
    vertical-align: top;
    margin-top: 0.2em;
}
#overviewHeuristic {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#choosingHeuristicHeading {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-right: 0.2em;
    vertical-align: top;
    margin-top: 0.2em;
}
#choosingHeuristic {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#personaHeuristicHeading {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-right: 0.2em;
    vertical-align: top;
    margin-top: 0.2em;
}
#personaHeuristic {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
#processHeuristicHeading {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-right: 0.2em;
    vertical-align: top;
    margin-top: 0.2em;
}
#processHeuristic {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
#improvementsHeuristicHeading {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-right: 0.2em;
    vertical-align: top;
    margin-top: 0.2em;
}
#improvementsHeuristic {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}
iframe {
    margin-left: auto;
    margin-right: auto;
}
/* These styles relate to the doggie walks page only */
#doggieWalksMain {
    display: grid;
    grid-template-columns: 19% 50% 30% 1%;
    grid-template-rows: 6;
    margin-top: 2em;
    grid-gap: 10px;
}
#overviewHeading {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-right: 0.2em;
    vertical-align: top;
    margin-top: 0.2em; 
}
#overviewDoggieWalks {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#researchHeading {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-right: 0.2em;
    vertical-align: top;
    margin-top: 0.2em; 
}
#researchDoggieWalks {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#researchImages {
    display: grid;
    grid-column: 3 / 4;
    grid-template-rows: auto;
    grid-row: 2 / 3;
}
#researchImage1{
    display: grid;
    grid-row: 1 / 2;
    margin-right: 1em;
    margin-bottom: 1em;
}
#researchImage2{
    display: grid;
    grid-row: 2 / 3;
    margin-right: 1em;
}
#designHeading {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-right: 0.2em;
    vertical-align: top;
    margin-top: 0.2em; 
}
#designDoggieWalks {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#designImages {
    display: grid;
    grid-column: 3 / 4;
    grid-template-rows: auto;
    grid-row: 3 / 4;
}
#designImage1 {
    display: grid;
    grid-row: 1 / 2;
    margin-right: 1em;
    margin-bottom: 1em; 
}
#designImage2 {
    display: grid;
    grid-row: 2 / 3;
    margin-right: 1em;
    margin-bottom: 1em; 
}
#designImage3 {
    display: grid;
    grid-row: 3 / 4;
    margin-right: 1em;
    margin-bottom: 1em; 
}
#designImage4 {
    display: grid;
    grid-row: 4 / 5;
    margin-right: 1em;
    margin-bottom: 1em; 
}
#designImage5 {
    display: grid;
    grid-row: 5 / 6;
    margin-right: 1em;
    margin-bottom: 1em; 
}
#designImage6 {
    display: grid;
    grid-row: 6 / 7;
    margin-right: 1em;
    margin-bottom: 1em; 
}
#designImage7 {
    display: grid;
    grid-row: 7 / 8;
    margin-right: 1em;
    margin-bottom: 1em; 
}
#developmentHeading {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-right: 0.2em;
    vertical-align: top;
    margin-top: 0.2em; 
}
#developmentDoggieWalks {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
#developmentImages {
    display: grid;
    grid-column: 3 / 4;
    grid-template-rows: auto;
    grid-row: 4 / 5;
}
#devImage1{
    display: grid;
    grid-row: 8 / 9;
    margin-right: 1em;
    margin-bottom: 1em; 
}
#devImage2{
    display: grid;
    grid-row: 9 / 10;
    margin-right: 1em;
    margin-bottom: 1em; 
}
#devImage3{
    display: grid;
    grid-row: 10 / 11;
    margin-right: 1em;
    margin-bottom: 1em; 
}
#devImage4{
    display: grid;
    grid-row: 11 / 12;
    margin-right: 1em;
    margin-bottom: 1em; 
}
#devImage5{
    display: grid;
    grid-row: 12 / 13;
    margin-right: 1em;
    margin-bottom: 1em; 
}
#devImage6{
    display: grid;
    grid-row: 13 / 14;
    margin-right: 1em;
    margin-bottom: 1em; 
}
#deploymentHeading {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-right: 0.2em;
    vertical-align: top;
    margin-top: 0.2em; 
}
#deploymentDoggieWalks {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
#taskText {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-align: justify;
    margin-top: 1em;
}
#doggieWalksLink {
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
}